@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
:root {
  font-family: "Roboto", sans-serif;
  --primary-color: white;
  --secondary-color: #7edaee;
  --third-color: #24262f;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
  color: black;
  padding: 30px;
}
h2:after {
  content: "";
  display: block;
  position: relative;
  bottom: 1%;
  left: 38%;
  width: 25%;
  height: 2px;
  background-color: red;
}
.container-insider-header-contact {
  height: 50px;
  background-color: var(--third-color);
  position: static;
  display: flex;
  justify-content: space-around;

  a {
    color: var(--secondary-color);
    padding: 15px;
  }
}
.site-header {
  width: 100%;
  height: 120px;
  border: 1px solid var(--third-color);
  background-color: var(--secondary-color);
}

.menu-box-top {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  a {
    color: black;
    font-weight: bolder;
  }
}

.intro {
  text-align: center;
  padding: 50px;
  height: 700px;
  padding: 45px;
  font-size: 45px;
}

.logo-intro-img {
  height: 500px;
  width: 500px;
  justify-content: center;
  padding: 20px;
}
.servicos-list {
  height: 850px;
  background-color: var(--primary-color);
  color: var(--third-color);
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}
.ul-backg-img-container {
  display: flex;
  justify-content: space-around;
}
.ilust-back-color {
  width: 450px;
  height: 350px;
}

.lista-servico {
  text-align: start;
  font-size: 35px;
}

.box-contatos {
  height: 900px;
  background-color: var(--primary-color);
}
.title-contact-box {
  text-align: center;
  padding: 10px;
  color: var(--third-color);
}

.texto-contacto {
  font-size: 25px;
  text-align: center;
  padding: 30px;
}
.container-phone {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}

.container-phone:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.container-chat {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}
.container-chat:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.container-email {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}
.container-email:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.button-contact {
  color: black;
  font-weight: bold;
}

.avalia-section {
  height: 600px;
  border: 1px solid black;
}
.title-avalia {
  text-align: center;
}
.img-avalia {
  width: 100px;
}
.box-avaliations {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
.avaliations {
  border: 1px solid black;
  width: 450px;
  height: 250px;
  border-radius: 30px;
  padding: 20px;
}
.about-company {
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
footer {
  height: 300px;
  background-color: var(--secondary-color);
  padding: 20px;
}
.certification {
  padding: 10px;
}
.img-certificado {
  width: 150px;
  height: 150px;
}
.link-footer {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}
.links-rede-social {
  color: var(--third-color);
  font-size: 20px;
  padding: 30px;
}
