@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto";
  --primary-color: white;
  --secondary-color: rgb(78, 193, 242);
  --third-color: #24262f;
}
body {
  margin: 0%;
}
.container-insider-header-contact {
  height: 50px;
  background-color: var(--third-color);
  position: relative;
  display: flex;
  justify-content: space-around;

  a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 15px;
  }
}
.site-header {
  width: 100%;
  height: 180px;
  border: 2px solid var(--third-color);
}

.search-div {
  text-align: right;
  padding: 20px;
}
.menu-box-top {
  display: flex;
  padding: 30px;
  margin-right: 10px;
  justify-content: space-around;
  font-size: larger;
  a {
    text-decoration: none;
  }
}
.container-slogan-services {
  width: 100%;
  height: 1000px;
  background-color: var(--primary-color);
}

.intro {
  text-align: center;
  padding: 50px;
  height: 500px;
  padding: 45px;
  font-size: 45px;
}

.logo-intro-img {
  height: 500px;
  width: 500px;
  justify-content: center;
}
.Servicos-list {
  width: 100%;
  height: 800px;
  background-color: var(--third-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

.container-services {
}

.avalia-contatos {
  width: 100%;
  height: 630px;
  background-color: var(--primary-color);
  padding: 20px;
}
.contact {
  text-align: center;
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.avalia {
  text-align: center;
  padding: 50px;
  border: 1px solid black;
  border-radius: 15px;
}
.img-avalia {
  width: 150px;
}
.about-company {
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
footer {
  height: 300px;
  background-color: var(--secondary-color);
  padding: 20px;
}
