@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #7edaee;
  --third-color: #24262f;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
  color: black;
  padding: 30px;
}
h2::after {
  content: "";
  display: block;
  position: relative;
  box-shadow: 10%;
  left: 40%;
  width: 20%;
  height: 1.5px;
  background-color: red;
}
h3 {
  font-size: xx-large;
}
.container-insider-header-contact {
  height: 50px;
  background-color: var(--third-color);
  position: static;
  display: flex;
  justify-content: space-around;

  a {
    color: var(--secondary-color);
    padding: 15px;
  }
}
.site-header {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
}

.menu-box-top {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  a {
    color: black;
    font-weight: bolder;
  }
}

.intro {
  background-image: url("https://images.unsplash.com/photo-1566917064245-1c6bff30dbf1?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: 0px 800px;
  filter: blur(40%) contrast(90%);
}
.img-logo-intro {
  display: flex;
  justify-content: right;
  padding: 40px;
}

.logo-intro-img {
  height: 550px;
  width: 550px;
}
.servicos-list {
  height: 1100px;
  background-color: var(--third-color);
  color: var(--third-color);
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  h2 {
    color: white;
  }
}
.trabalhos {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.trabalhos-container {
  border: 2px solid black;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 5%;
  width: 400px;
  height: 400px;
}
.img-trabalhos {
  width: 100%;
  height: 100%;
}
.ul-backg-img-container {
  color: white;
}
.ilust-back-color {
  width: 450px;
  height: 350px;
}

.lista-servico {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 30px;
}
.hover-service-list:hover {
  padding: 10px;
  color: red;
  transition: 500ms;
  cursor: pointer;
}
.manutenção-section {
  display: inline-block;
  margin-top: 2%;
  padding: 20px;
  font-size: 25px;
  border: solid 1px white;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
}
.box-contatos {
  height: 900px;
  color: white;
  background-color: var(--third-color);
}
.title-contact-box {
  text-align: center;
  padding: 10px;
  h2 {
    color: white;
  }
}

.texto-contacto {
  font-size: 28px;
  text-align: center;
  padding: 30px;
  color: white;
}
.container-phone {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 20px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}

.container-phone:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.container-chat {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 30px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}
.container-chat:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.container-email {
  font-size: 25px;
  width: 90%;
  height: 90px;
  padding: 30px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
}
.container-email:hover {
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: 500ms;
}
.button-contact {
  color: black;
  font-weight: bold;
}

.avalia-section {
  height: 600px;
  border: 1px solid black;
}
.title-avalia {
  text-align: center;
}
.img-avalia {
  width: 100px;
}
.box-avaliations {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.fa-star {
  color: rgb(255, 201, 4);
}
.avaliations {
  border: 2px solid rgb(0, 0, 0);
  margin: 1px;
  width: 350px;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
}
.about-company {
  height: 800px;
  padding: 90px;
  font-size: 18px;
  text-align: justify;

  background-color: var(--third-color);
  color: rgb(233, 227, 227);
}
footer {
  height: 300px;
  background-color: var(--secondary-color);
  padding: 20px;
}
.certification {
  padding: 10px;
}
.img-certificado {
  width: 150px;
  height: 150px;
}
.link-footer {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}
.links-rede-social {
  color: var(--third-color);
  font-size: 20px;
  padding: 30px;
}
